@import './base.css';

/* Puedes dejar aquí cualquier estilo global que REALMENTE necesites,
   pero asegúrate de que no interfiera con el centrado del body/html
   o con el layout de #app, que ahora manejará App.vue */

/* Por ejemplo, podrías dejar esto si quieres que el texto de enlaces tenga un estilo global */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* IMPORTANTE: ELIMINA O COMENTA TODO LO DEMÁS RELACIONADO CON #app o body en media queries */

/* Las siguientes reglas de #app y el media query de body/app a 1024px
   DEBEN SER ELIMINADAS O COMENTADAS
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/